.attachment-renamer-modal .modal {
	width: 50%;
	min-width: 600px;
}

.attachment-renamer-modal-input {
	overflow: hidden;
	padding: var(--size-2-3) var(--size-4-2);
	resize: none;
	width: 100%;
}

.attachment-renamer-image-preview {
	display: flex;
	justify-content: center;
	font-style: italic;
	padding: 2em 0;
}

.attachment-renamer-image-preview img {
	max-height: 300px;
	max-width: 100%;
	box-shadow: var(--shadow-s);
}

.attachment-renamer-info {
	width: 100%;
	padding: 0.75em 0;
}

.attachment-renamer-info td:last-child {
	width: 100%;
}

.attachment-renamer-info td {
	padding-bottom: var(--size-4-1);
}

.attachment-renamer-label {
	font-weight: var(--font-semibold);
	white-space: nowrap;
	padding-right: var(--size-4-4);
}

.attachment-renamer-error-textbox {
	border-color: var(--text-error) !important;
}

.attachment-renamer-template-input {
	min-width: 300px;
	width: 50%;
}

.attachment-renamer-setting-wrap {
	flex-wrap: wrap;
}

.attachment-renamer-help .modal {
	width: 90vw;
	max-width: 900px;
	max-height: 900px;
	padding: var(--size-4-8);
}

.attachment-renamer-template-preview  {
	color: var(--text-muted);
	display: flex;
	gap: var(--size-4-2);
	justify-content: flex-end;
	padding-bottom: var(--size-4-2);
	font-size: var(--font-ui-smaller);
}

.attachment-renamer-spinner {
	border: 3px solid var(--color-accent);
	border-top: 3px solid var(--background-secondary-alt);
	border-radius: 50%;
	width: 1.35em;
	height: 1.35em;
	animation: spin 1s linear infinite;
}

.attachment-renamer-spinner-small {
	border: 2px solid var(--color-accent);
	border-top: 2px solid var(--background-secondary-alt);
	border-radius: 50%;
	width: 1.15em;
	height: 1.15em;
	animation: spin 1s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
