.attachment-renamer-modal .modal {
	width: 50%;
	min-width: 600px;
}

.attachment-renamer-modal-input {
	overflow: hidden;
	padding: var(--size-2-3) var(--size-4-2);
	resize: none;
	width: 100%;
}

.attachment-renamer-preview {
	display: flex;
	justify-content: center;
	font-style: italic;
	padding: 1.5em 0;
}

.attachment-renamer-preview img {
	max-height: 300px;
	max-width: 100%;
}

.attachment-renamer-info {
	width: 100%;
	padding: 0.75em 0;
}

.attachment-renamer-info td:last-child {
	width: 100%;
}

.attachment-renamer-info td {
	padding-bottom: var(--size-4-1);
}

.attachment-renamer-label {
	font-weight: var(--font-semibold);
	white-space: nowrap;
	padding-right: var(--size-4-4);
}

.attachment-renamer-error-textbox {
	border-color: var(--text-error) !important;
}

.attachment-renamer-template-input {
	min-width: 300px;
	width: 50%;
}

.attachment-renamer-setting-wrap {
	flex-wrap: wrap;
}
