name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '25'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Authenticate gh cli
        run: gh auth login
        env: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release
        run: |
          gh release view "${{ github.ref_name }}" >/dev/null 2>&1 || \
          gh release create "${{ github.ref_name }}" \
            --title "${{ github.ref_name }}" \
            --notes ""

      - name: Upload build files
        run: |
          for file in build/*; do
            echo "Adding to release: '$file'"
            gh release upload "${{ github.ref_name }}" "$file" --clobber
          done
